@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-color: #F2994A;
  --primary-color: #1E5AA8;
  --neutral-black: #000000;
  --neutral-white: #ffffff;
  --heading-color: #1E293B;
  --foundation-color: #D9D9D9;
  --foundation-secondary-color: #FEF5ED;
  --foundation-neutral: #454545;
  --foundation-primary: #E9EFF6;
  --foundation-accent-color: #DDBF5F;
  --foundation-neutral-8: #595959;
  --foundation-neutral-4: #F0F0F0;
  --success-color: #28A745;
  --text-body: #334155;
  --font-norm: 18px;
  --font-lg: 30px;
  --font-md: 24px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
